@model Site.Models.CreateUserModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="container">
        <div class="jumbotron">
            <h1>Create User</h1>
            <p>Login:</p>
            @Html.EditorFor(model => model.Login)
            <div class="red">
                @Html.ValidationMessageFor(model => model.Login)
            </div>
            <p>Email:</p>
            @Html.EditorFor(model => model.Email)
            <div class="red">
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <p>Password:</p>
            @Html.EditorFor(model => model.Password)
            <div class="red">
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <p>Role:</p>
            @Html.DropDownListFor(model => model.Role, new List<SelectListItem>() { new SelectListItem() { Text = "Admin" }, new SelectListItem() { Text = "User" } })
            <div class="red">
                @Html.ValidationMessageFor(model => model.Role)
            </div>
            <br>
            <p>
                <input type="submit" class="btn btn-lg btn-default" value="Create" />
            </p>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
