@model IEnumerable<Site.Models.PhotoViewModel>
@{
    ViewBag.Title = "Album";
    //Layout = "/Views/Shared/_Layout.cshtml";
}
@*<html>
<head>
    <title></title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/style.css" rel="stylesheet" />
    <link href="/Content/font-awesome.css" rel='stylesheet' />
</head>
<body>*@
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">@TempData["Name"]</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <p class="navbar-text">@TempData["Description"]</p>
                </ul>
            </div>
        </div>
    </nav>



    @if (Model != null)
    {
        <div id="update">
            <div class="row">
                @foreach (var photo in Model)
                {
                    <div class="col-xs-6 col-md-3">
                        <div class="thumbnail">
                            <a href="@Url.Action("ShowPhoto","Gallery",new{id=photo.Id})"><img src="@photo.Image" style="width:171px !important; height: 180px !important;" /></a>
                            <div class="caption">
                                <div class="link-caption">
                                    @if (HttpContext.Current.User.Identity.Name == ViewBag.Login)
                                    {
                                        <p>
                                            <a href="@Url.Action("EditPhoto", "Gallery", new {id = photo.Id})"><div class="btn btn-success">Edit</div></a>
                                            <a href="@Url.Action("DeletePhoto", "Gallery", new {id = photo.Id})"><div class="btn btn-danger">Delete</div></a>
                                        </p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    <div>
        @if (HttpContext.Current.User.Identity.Name == ViewBag.Login)
        {
            <a id="btnaddphoto"><div class="btn btn-default">Add Photo</div></a>
        }
        </
    </div>

    <div id="addphoto" style="display:none">
            @using (Html.BeginForm("AddPhoto", "Gallery", new {album = TempData["Name"]}, FormMethod.Post, new {id = "ImgForm", enctype = "multipart/form-data", name = "ImgForm"}))
             {
                 <div>
                     <h3>Choose image </h3>
                     <input type="file" name="Image" /> 
                 </div>
             }
            <img id="loading" src="@Url.Content("~/Img/ajaxSpinner.gif")" height="50" width="50" style="display: none" />
            <br>
            <input type="button" class="btn btn-success" value="Save" onclick=" Click(); " />
            <br />
            <br />
    </div>
    @*<script src="/Scripts/jquery-1.8.2.js"></script>*@
    @*<script src="/Scripts/jquery-1.8.2.min.js"></script>*@

    <script type="text/javascript">
        $('#btnaddphoto').click(function () {
            $('#addphoto').show();
        });

        function Click() {
            $('#ImgForm').submit();
            $('#loading').show();
        }
    </script>
    @*<script src="/Scripts/bootstrap.min.js" type="text/javascript"></script>*@
    @*</body>
</html>*@
