@model Site.Models.ProfileViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     <div class="container">
        <div class="jumbotron">
            <h1>Create Profile</h1>
            <p>Firstname:</p>
            @Html.EditorFor(model => model.FirstName)
            <div class="red">
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
            <p>Lastname:</p>
            @Html.EditorFor(model => model.LastName)
            <div class="red">
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
            <p>Age:</p>
           @Html.EditorFor(model => model.Age)
            <div class="red">
                @Html.ValidationMessageFor(model => model.Age)
            </div>
            <p>Email:</p>
            @Html.EditorFor(model => model.Email)
            <div class="red">
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <p>Country:</p>
            @Html.EditorFor(model => model.Country)
            <div class="red">
                @Html.ValidationMessageFor(model => model.Country)
            </div>
            <p>City:</p>
            @Html.EditorFor(model => model.City)
            <div class="red">
                @Html.ValidationMessageFor(model => model.City)
            </div>
            <p>Phone number:</p>
            @Html.EditorFor(model => model.PhoneNumber)
            <div class="red">
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
            <p>About me:</p>
            @Html.TextAreaFor(model => model.AboutYourself)
            <div class="red">
                @Html.ValidationMessageFor(model => model.AboutYourself)
            </div>
            <p>Interests:</p>
            @Html.TextAreaFor(model => model.Interests)
            <div class="red">
                @Html.ValidationMessageFor(model => model.Interests)
            </div>
            <br>
            <p>
                <input type="submit" class="btn btn-lg btn-default" value="Create" />
            </p>
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
